.radio-btn {
  padding: 0 16px;

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    padding-left: 40px;
    cursor: pointer;
    line-height: 1;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &:hover input ~ .radio-btn__check-mark {
      background-color: rgba(255, 255, 255, 0.15);
    }

    .radio-btn__check-mark:after {
      background: white;
      content: "";
      position: absolute;
      display: none;
      left: 50%;
      top: 50%;
      width: 12px;
      height: 12px;
      border: 4px solid white;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    input:checked ~ .radio-btn__check-mark:after {
      display: block;
    }

    &.error {
      color: #ff0000;

      .radio-btn__check-mark {
        border-color: #f00;
      }
    }
  }

  &__check-mark {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;

  }
}

.modal .radio-btn {
  &__container {
    color: rgba(76, 69, 119, 0.5);

    &:hover input ~ .radio-btn__check-mark {
      background-color: rgba(76, 69, 119, 0.15);
    }

    .radio-btn__check-mark:after {
      border: solid #57b8a3;
      //border-width: 0 4px 4px 0;
    }
  }

  &__check-mark {
    border: 1px solid #57b8a3;
  }
}