.dashboard-btn {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  height: 45px;
  border-radius: 8px;
  padding: 0 15px;
  border: none;
  cursor: pointer;

  &--default {
    background-color: #fff;
    //color: #57b8a3;
    border: transparent solid 2px;

    &:hover {
      background-color: #303e47;
      color: #fff;
      border: #fff solid 2px;
      box-shadow: 0 5px 30px 0 rgba(42, 110, 118, 0.6);
    }
  }

  &--transparent {
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    border: none;
    background: none;

    &:hover {
      color: #fff;
    }
  }

  &--submit {
    box-sizing: content-box;
    background-color: white;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    border: 4px solid #ffaa99;
    padding: 3px 25px;
    
    &:hover {
      border-color: #ff6d51;
    }
  }

  &--white {
    box-sizing: border-box;
    height: 45px;
    background-color: white;
    font-size: 18px;
    border-radius: 8px;
    border: 4px solid #ffaa99;

    &:hover {
      border-color: #ff6d51;
    }
  }

  &--dark {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    color: #fff;
    border:none;
    opacity: .5;
    transition: .3s;

    &:hover{
      opacity: 1;
    }
  }

  &--currency {
    color: #57b8a3;
    background-color: #fff;
    border: 1px solid #57b8a3;
    border-radius: 22px;

    &:hover,
    &.active {
      background-color: rgba(76, 69, 119, 0.251);
    }
  }

  &--modal {
    display: block;
    width: 230px;
    margin: 0 auto 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #ffaa99;
    text-transform: uppercase;

    &:hover {
      background-color: #ff6d51;
    }
  }

  &--fluid {
    width: 100%;
  }

  &--delete {
    top: 28px;
    left: -60px;
    padding: 0 22px;
    height: 40px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    color: #57b8a3;

    &:hover {
      background-color: #fff;
    }

    &::before,
    &::after {
      position: absolute;
      content: ' ';
      height: 25px;
      width: 4px;
      background-color: #57b8a3;
      bottom: 7px;
      left: 20px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}