
.ReactModal__Body--open {
  //overflow: hidden;
}

.ReactModal__Content {
  opacity: 0.6;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%) !important;

  &--after-open {
    opacity: 1;

    transition: 0.3s;
  }

  &--before-close {
    opacity: 0;
  }
}

.modal.center {
  margin: 40px auto 0;
}
.captcha-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.captcha-wrapper .china-captcha {
  width: 48% !important;

  margin: 0 !important;
  margin-right: 2% !important;
}
.captcha-wrapper div {
  width: 100%;
  margin-top: 5px;
}
.modal .china-captcha {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #4c4577;
  background-color: #f0f1f3;
  border-radius: 5px;
  margin-left: 25%;
}
.modal {
  width: calc(100% - 40px);
  max-width: 450px;
  padding: 15px;
  z-index: 100;
  border-radius: 5px;
  background-color: #fff;
  color: #4c4577;
  line-height: 1;

  .icon {
    display: block;
    border-radius: 20px;
    background: rgb(227, 230, 233) no-repeat center;
    width: 100px;
    height: 100px;

    &-checkmark {
      background-image: url(../../Shared/assets/images/modals/checkmark.png);
    }
    &-security {
      background-image: url(../../Shared/assets/images/modals/security.png);
    }
    &-simple {
      background-image: url(../../Shared/assets/images/modals/simple.png);
    }
    &-compliant {
      background-image: url(../../Shared/assets/images/modals/compliant.png);
    }
    &-kyc-sent {
      background-image: url(../../Shared/assets/images/modals/kyc-sent.png);
    }
  }

  &__contact-us {
    .dashboard-btn--modal {
      margin-bottom: 0;
    }
  }

  &-note {
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 30px;
  }

  &__overlay {
    overflow-y: scroll;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;

    &-disabled {
      z-index: 0;
      background-color: transparent;
      position: relative;
      overflow: visible;
    }
  }

  &__close-icon {
    position: absolute;
    display: block;
    top:30px;
    right:30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../../Shared/assets/images/modals/close.png);
  }

  &__title {
    font-size: 28px;
    line-height: 1;
    font-weight: bold;
    color: #343434;
    text-align: center;
    margin-bottom: 25px;
    padding: 0 30px;
  }

  &__secondary-action {
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.5;
  }

  /**************
    Custom Modals
  **************/

  &__register {
    margin-bottom: 100px;
  }

  &__login {
    margin-bottom: 100px;

    &_reset-password {
      font-size: 18px;
      color: rgba(76, 69, 119, 0.5);
      text-align: right;
      text-decoration: underline;
      padding-right: 16px;
      cursor: pointer;
    }

    &_sign-up {
      font-size: 20px;

      span:nth-child(1) {
        padding-right: 5px;
      }

      a span {
        border-bottom: 1px solid #b4b1c2;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 767px) {
      &_sign-up {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__sign-up {

    &_terms {
      font-size: 16px;
      color: rgba(76, 69, 119, 0.5);

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__verify-identity {

    .advantage {
      color: #2a6e76;

      &-title {
        font-size: 24px;
        margin-bottom: 8px;
      }

      &-description {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }

  &__buy-token {
    input {
      font-size: 16px;
    }

    &__address {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 16px;

      & p {
        width: 310px;
      }
    }
  }

  &__sell-token {
    &__max-amount {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__enable2fa {
    &__secret {
      &-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 15px;
        line-height: 1.1;
      }

      &-print {
        font-size: 16px;
        cursor: pointer;
        border-bottom: 1px solid rgba(76, 69, 119, 0.5);
      }

      &-note {
        font-size: 16px;
        color: rgba(76, 69, 119, 0.5);
      }
    }
  }

  .wallet-address {
    font-size: 16px;
    opacity: 0.5;
    word-wrap: break-word;
  }

}