@font-face {
  font-family: 'Avenir';
  src: url(../fonts/Avenir.woff2) format('woff2');

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir-Light.woff') format('woff'), url('../fonts/Avenir-Light.ttf')  format('truetype'), url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
  url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-LightIt.eot');
  src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
  url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-LightIt.woff') format('woff'),
  url('../fonts/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
body{
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  color: #000;
}
.header {
  font-size: 28px;
  line-height: 1;

  &_description {
    font-family: "Avenir-Light", sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
  }
}
.contribute_title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  text-align: center;

  &--default{
    color: #6c8aaf;
  }
  &--white{
    color:#fff;
  }
}
.text{
  &--center{
    text-align: center;
  }
  &--white{
    color:#fff;
  }
  &--bold{
    font-weight: 700;
  }
  &--uppercase{
    text-transform: uppercase;
  }
  &--small{
    font-size: 14px;
  }
  &--attension{
    color:red;
  }
  &--gray{
    color:#666;
  }
}
.terms-of-agreement{
  font-size: 12px;
  text-align: center;
  & a{
    color:#00abf7
  }
}
.input-error{
  color:red;
  font-size:13px;
}
