@import "../../style/common/mixins";

.form {
  font-size: 20px;

  &__field {
    position: relative;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    line-height: 1;
    padding-left: 16px;
    padding-bottom: 10px;
  }

  &__static {
    padding: 0 16px;
    font-size: 20px;
    color: rgba(76, 69, 119, 0.5);
  }

  &__error-message {
    display: none;
    position: absolute;
    top: 70px;

    padding-left: 16px;
    margin-top: 5px;
    font-size: 14px;
    color: #ff0000;

    &--low {
      top: 55px;
    }
  }

  .captcha-container &__error-message {
    top: 94px;
  }

  &__show-error {
    .form {
      &__input {
        border-color: rgb(255, 0, 0) !important;
        background-color: rgba(255, 0, 0, 0.15) !important;
      }

      &__error-message {
        display: block;
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    height: 42px;
    border-radius: 4px;
    padding: 0 14px;
    margin-bottom: 25px;
    border: 1px solid #d9d9d3;

    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 26px;

    &:hover {
      border-color: #ffaa99;
    }

    &.disabled {
      background-color: rgba(255, 255, 255, 0.35) !important;
    }

    &__currency {
      padding-right: 0;
    }

    input, textarea {
      color: inherit;
      font-size: inherit;
      background: transparent;
      border: none;
      width: 100%;
    }

    &-file {
      justify-content: space-between;
      cursor: pointer;

      .placeholder {
        display: none;

        @include minMedia(768) {
          display: inline;
        }
      }

    }
  }

  &__select {
    position: relative;
    padding: 0 !important;

    &-placeholder {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      cursor: pointer;
    }

    &-icon {
      margin-left: 5px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #fff;
      border-radius: 3px;
      transition: 0.3s;

      &.opened {
        transform: rotate(-180deg);
      }
    }

    &-options {
      margin: 0 -1px;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 40px;
      padding-top: 8px;
      padding-bottom: 5px;
      width: 100%;
      max-height: 0;
      overflow-y: auto;
      z-index: 10;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 0 0 5px 5px;
      background-color: rgb(48, 62, 71);
      font-weight: lighter;
      font-size: 20px;
      user-select: none;
      transition: max-height 0.3s ease-out;

      &.opened {
        max-height: 250px;
        margin-top: 5px;
        margin-left: 1px;
        visibility: visible;
      }

      /* width */
      &::-webkit-scrollbar {
        width: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 5px;
      }

      & > .option {
        padding: 1px 15px;
        cursor: pointer;
        background: #677289;

        &:hover {
          background-color: #677289 !important;
        }
      }
    }

  }

  .pass-switcher {
    display: inline-block;
    width: 42px;
    height: 20px;
    background: no-repeat center;
    cursor: pointer;
    transition: 0.3s;
  }

}

/*
  Default colors for forms;
 */
.layout {
  .form__input {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);

    input::placeholder, textarea::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .pass-switcher {
    width: 50px;
    min-height: 100%;
    background: url(./assets/showpass.png) no-repeat center;
    &--active {
      background: url(./assets/showpass-active.png) no-repeat center;
    }
  }

  .pass-requirements {
    color: rgba(255, 255, 255, 0.5);

    & > .requirement {
      &:before {
        background-color: rgba(255, 255, 255, 0.5);
      }
      &--completed:before {
        background-color: rgb(255, 255, 255);
      }
    }
  }
}

/*
  Colors for forms in modals.
 */
.modal {
  color: #343434;;
  font-family: Roboto, Arial, sans-serif;

  .form__input {
    border: 1px solid #ffaa99;
    background-color: rgb(240, 241, 243);
    color: rgb(84, 84, 84);;

    input::placeholder, textarea::placeholder {
      //color: rgba(76, 69, 119, 0.502);
    }
    
    &:hover,
    &:focus-within {
      border-color: #ff6d51;
    }
  }

  .pass-switcher {
    width: 50px;
    height: 50px;

    background: url(./assets/showpass-modal.png) no-repeat center;
    &--active {
      background-image: url(./assets/showpass-modal-active.png);
    }
  }

  .pass-requirements {
    color: rgba(76, 69, 119, 0.5);

    & > .requirement {
      &:before {
        background-color: rgba(76, 69, 119, 0.5);
      }    //
      &--completed:before {
        background-color: rgb(76, 69, 119)
      }
    }
  }

  .form__select-icon {
    border-top-color: #4c4577;
  }

  .form__select-options {
    background: #fff;
  }

  .form__select-options > .option {
    background: #fff;

    &:hover {
      background-color: #b5b5b7 !important;
    }
  }

  .react-select-container {
    .Select-control {
      border: 1px solid rgb(76, 69, 119);
      background-color: rgb(240, 241, 243);

      .Select-input input {
        color: rgb(76, 69, 119);
      }
    }

    .Select-menu-outer {
      background-color: #fff;
      border: 1px solid rgb(76, 69, 119);

      .Select-option {
        background: #fff;

        &:hover {
          color: white;
          background-color: #504d67 !important;;
        }
      }
    }

  }
}

.max-button {
  display: flex;
  height: 100%;
  width: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;

  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:hover {
    background-color: rgba(76, 69, 119, 0.2);
  }
}

.select {
  &__currency {
    margin-bottom: 0;

  }
}

.form__input__currency__label {
  display: block;
  padding-bottom: 10px;
  padding-left: 0;
}

.input {
  &__currency {


    .form {
      &__select {
        position: relative;
        padding: 0 !important;

        &-placeholder {
          display: flex;
          height: 100%;
          width: 80px;
          justify-content: space-between;
          align-items: center;
          padding: 0 16px;
          cursor: pointer;
        }

        &-icon {
          margin-left: 5px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid #fff;
          border-radius: 3px;
          transition: 0.3s;

          &.opened {
            transform: rotate(-180deg);
          }
        }

        &-options {
          border: 0;
          border-radius: 0;
          background-color: rgba(255, 255, 255, 0.2);
          font-weight: lighter;
          font-size: 18px;
          user-select: none;
          transition: max-height 0.3s ease-out;

          &.opened {
            max-height: 250px;
            visibility: visible;
          }

          /* width */
          &::-webkit-scrollbar {
            width: 4px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 5px;
          }

          & > .option {
            padding: 1px 15px;
            cursor: pointer;

            &:hover {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }

    .form__input {
      margin-bottom: 0;
      border-width: 0;
      border-radius: 0;
      background-color: transparent;
    }

    .form__input__currency__label {
      padding-left: 0;
    }

    .form__input:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transition: 0.3s;
    }
  }
}

.form__show-error .Select-control {
  border-color: rgb(255, 0, 0) !important;
  background-color: rgba(255, 0, 0, 0.15) !important;
}

.react-select-container {
  position: relative;

  &.is-open .Select-arrow-zone {
    transform: rotate(-180deg);
  }

  &.is-open .Select-menu-outer {
    max-height: 250px;
    margin-top: 1px;
    margin-left: 2px;
    visibility: visible;
  }

  .Select-control {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 45px;
    padding: 0 16px;
    margin-bottom: 25px;

    cursor: pointer;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
  }

  .Select-placeholder,
  .Select-value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .Select-input input{
    color: #fff;
    font-size: 18px;
    background: none;
    border: none;
  }

  .Select-clear-zone {
    display: none;
  }

  .Select-arrow-zone {
    margin-left: 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    border-radius: 3px;
    transition: 0.3s;
  }

  .Select-menu-outer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 99.5%;
    max-height: 0;

    margin: 0 -1px;
    padding-top: 8px;
    padding-bottom: 5px;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 45px;
    overflow-y: auto;
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    font-weight: lighter;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 5px;
    }

    .Select-option {
      padding: 1px 15px;
      cursor: pointer;
      background: #fff;

      &:hover {
        background-color: #787878 !important;;
      }
    }
  }
}